<h1>Gallery Pictures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Gallery</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gallery_pictures.each do |gallery_picture| %>
      <tr>
        <td><%= gallery_picture.name %></td>
        <td><%= gallery_picture.description %></td>
        <td><%= gallery_picture.picture %></td>
        <td><%= gallery_picture.gallery %></td>
        <td><%= link_to 'Show', gallery_picture %></td>
        <td><%= link_to 'Edit', edit_gallery_picture_path(gallery_picture) %></td>
        <td><%= link_to 'Destroy', gallery_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery Picture', new_gallery_picture_path %>
