<p>
  <strong>Name:</strong>
  <%= @gallery_picture.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gallery_picture.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @gallery_picture.picture %>
</p>

<p>
  <strong>Gallery:</strong>
  <%= @gallery_picture.gallery %>
</p>

<%= link_to 'Edit', edit_gallery_picture_path(@gallery_picture) %> |
<%= link_to 'Back', gallery_pictures_path %>
