<p id="notice"><%= notice %></p>

<h1>Banners</h1>
<%= link_to 'New Banner', new_banner_path %>

<% @banners.group_by(&:location).each do |location, banners| %>
  <h2><%= location %></h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Picture</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% banners.each do |banner| %>
        <tr>
          <td><%= banner.name %></td>
          <td><%= image_tag banner.picture_url, height: 50 if banner.picture.present? %></td>
          <td><%= link_to 'Show', banner %></td>
          <td><%= link_to 'Edit', edit_banner_path(banner) %></td>
          <td><%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
