<ul>
  <li><%= link_to 'Notícias', posts_path %></li>
  <li><%= link_to 'Banners', banners_path %></li>
  <li><%= link_to 'Páginas', pages_path %></li>
  <li><%= link_to 'Galerias', galleries_path %></li>
  <li><%= link_to 'Usuários', users_path %></li>
  <li><%= link_to 'Ajustes', settings_path %></li>
</ul>